﻿ /*CSS Document */


/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - Loading Transition  */
/*   02 - Global Settings */
/*   03 - Theme Header */
/*   04 - Theme Main Banner */
/*   05 - What We Do */
/*   06 - Boost Your Phone  */
/*   07 - Advance Feature  */
/*   08 - Footer  */



/**
* Importing necessary  Styles.
**/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poppins:300,400,500,600');
/*----bootstrap css ----- */
@import url('../vendor/bootstrap/bootstrap.css');
/*----camera-slider---*/
@import url('../vendor/Camera-master/css/camera.css');
/*-------- animated css ------*/
@import url('../vendor/WOW-master/css/libs/animate.css');

/*** 

====================================================================
  Loading Transition
====================================================================

 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
  overflow: hidden;
}
#loader {
  background: url(../images/1.gif);
  width: 64px;
  height: 64px;
  position: relative;
  top: 50%;
  margin: -24px auto 0 auto;
}
/*** 

====================================================================
  Global Settings
====================================================================

 ***/

 body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color:rgba(0,0,0,0.6);
  font-size: 18px;
  position: relative;
 }
.main-page-wrapper {
  overflow-x:hidden;
}
.html-top-content {
  position: relative;
  z-index: 999;
  margin-bottom: 594px;
  background: #fff;
}
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h1,h2,h3,h4,h5,h6 {color:#00000a;font-weight: 600;}
 h1 {font-size: 50px; line-height: 70px;}
 h2 {font-size: 42px; line-height: 60px;}
 h3 {font-size: 32px;}
 h4 {font-size: 30px;}
 h5 {font-size: 24px;}
 h6 {font-size: 18px;}
 p {line-height: 35px; font-family: 'Open Sans', sans-serif;}
 ul {list-style-type: none;}
 a {text-decoration: none; display: inline-block;}
 a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
 img {max-width: 100%; display: block;}
 button {border:none;outline: none;-webkit-box-shadow: none;box-shadow: none;display: block; padding: 0;}
 input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

.tran3s,.boost-your-phone .boster-image-wrapper img,.theme-button span,.owl-theme .owl-dots .owl-dot span,.pricing-plan-section .nav-tabs > li.active > a   {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 }
.tran4s {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
 }
.float-left {float:left;}
.float-right {float:right;}
.theme-title-one h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0,0,0,0.35);
  letter-spacing: 1px;
  margin-bottom: 22px;
}
.theme-title-uno h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0,0,0,0.35);
  letter-spacing: 1px;
  margin-bottom: 200px;
}
.theme-title-two {position: relative;padding-top: 20px;}
.theme-title-two:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 45px;
  height: 4px;
  border-radius: 2px;
}
.theme-title-two p {
  font-size: 20px;
  margin-top: 25px;
}
.theme-button {position: relative;overflow: hidden;z-index: 1;}
.theme-button span {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}
.home-page-one .theme-button span {background: linear-gradient( -160deg, rgb(26,192,237) 0%, rgb(31,242,255) 100%);}
.home-page-two .theme-button span {background: linear-gradient( -135deg, rgb(255,65,65) 0%, rgb(255,127,82) 100%);}
.home-page-three .theme-button span {background: linear-gradient( -135deg, rgb(109,105,255) 0%, rgb(95,155,255) 100%);}
.theme-button:hover span {opacity: 1;}
/*---------------------- Color Css -------------------------*/
/*---------Home One---------*/
.home-page-one .scroll-top,
.home-page-one .boost-your-phone .boster-image-wrapper .ao-annotations span,.home-page-one #watch-video a,
.home-page-one .pricing-plan-section .nav-tabs > li.active > a,
.home-page-one .pricing-plan-section .nav-tabs > li.active > a:hover,
.home-page-one .pricing-plan-section .nav-tabs > li.active > a:focus,
.home-page-one .contact-us-section .contact-us-form .theme-button,
.home-page-one footer .subscribe-form .input-wrapper .theme-button,
.home-page-one .blog-details .comment-area .leave-comment form button {
  background:linear-gradient( 41deg, rgb(26,192,237) 0%, rgb(43,236,220) 100%);
}
.home-page-one .theme-title-two:before {background: #0aebb3;}
.home-page-one .boost-your-phone .text ul li i,.home-page-one .contact-us-section .contact-address .call:hover,
.home-page-one footer .bottom-footer ul.footer-menu li a:hover,
.home-page-one .our-blog .single-blog .text>a,
.home-page-one .our-blog .single-blog:hover .text h5 a,
.home-page-one .blog-details .tag-option ul li a:hover,
.home-page-one .blog-details .comment-area .comment-section .comment button:hover {color: #0aebb3;}
.home-page-one footer .subscribe-form .input-wrapper input[type="text"]:focus,
.home-page-one footer .subscribe-form .input-wrapper input[type="email"]:focus {
  border-color:#1ac2ed;
}
/*---------Home two---------*/
.home-page-two .scroll-top,
.home-page-two .boost-your-phone .boster-image-wrapper .ao-annotations span,.home-page-two #watch-video a,
.home-page-two .pricing-plan-section .nav-tabs > li.active > a,
.home-page-two .pricing-plan-section .nav-tabs > li.active > a:hover,
.home-page-two .pricing-plan-section .nav-tabs > li.active > a:focus,
.home-page-two .contact-us-section .contact-us-form .theme-button,
.home-page-two footer .subscribe-form .input-wrapper .theme-button,
.home-page-two .blog-details .comment-area .leave-comment form button {
  background: linear-gradient( 11deg, rgb(255,65,65) 0%, rgb(255,127,82) 100%);
}
.home-page-two .theme-title-two:before,
.home-page-two .testimonial-section .main-bg-wrapper .main-slider-wrapper {background: #ff4e39;}
.home-page-two .boost-your-phone .text ul li i,.home-page-two .contact-us-section .contact-address .call:hover,
.home-page-two footer .bottom-footer ul.footer-menu li a:hover,
.home-page-two .our-blog .single-blog .text>a,
.home-page-two .our-blog .single-blog:hover .text h5 a,
.home-page-two .blog-details .tag-option ul li a:hover,
.home-page-two .blog-details .comment-area .comment-section .comment button:hover {color: #ff4e39;}
.home-page-two footer .subscribe-form .input-wrapper input[type="text"]:focus,
.home-page-two footer .subscribe-form .input-wrapper input[type="email"]:focus {
  border-color:#ff5541;
}
/*---------Home three---------*/
.home-page-three .scroll-top,
.home-page-three .boost-your-phone .boster-image-wrapper .ao-annotations span,.home-page-three #watch-video a,
.home-page-three .pricing-plan-section .nav-tabs > li.active > a,
.home-page-three .pricing-plan-section .nav-tabs > li.active > a:hover,
.home-page-three .pricing-plan-section .nav-tabs > li.active > a:focus,
.home-page-three .contact-us-section .contact-us-form .theme-button,
.home-page-three footer .subscribe-form .input-wrapper .theme-button,
.home-page-three .blog-details .comment-area .leave-comment form button {
  background: linear-gradient( 52deg, rgb(109,105,255) 0%, rgb(95,155,255) 100%);
}
.home-page-three .theme-title-two:before,
.home-page-three .testimonial-section .main-bg-wrapper .main-slider-wrapper {background: #6a74ff;}
.home-page-three .boost-your-phone .text ul li i,.home-page-three .contact-us-section .contact-address .call:hover,
.home-page-three footer .bottom-footer ul.footer-menu li a:hover,
.home-page-three .our-blog .single-blog .text>a,
.home-page-three .our-blog .single-blog:hover .text h5 a,
.home-page-three .blog-details .tag-option ul li a:hover,
.home-page-three .blog-details .comment-area .comment-section .comment button:hover {color: #6a74ff;}
.home-page-three footer .subscribe-form .input-wrapper input[type="text"]:focus,
.home-page-three footer .subscribe-form .input-wrapper input[type="email"]:focus {
  border-color:#6681ff;
}

/*** 

====================================================================
  Theme Header
====================================================================

 ***/
.theme-main-header {
  position: absolute;
  left:0;
  right: 0;
  top:0;
  padding-top: 65px;
  z-index: 999;
}
.theme-main-header .button-group li {
  display: inline-block;
}
.theme-main-header .button-group li:first-child {margin-right: 5px;}
.theme-main-header .button-group li a {
  width: 120px;
  line-height: 36px;
  font-weight: 500;
  border:2px solid transparent;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 20px;
}
.theme-main-header .button-group li a.login {border-color: #fff;}
.theme-main-header .button-group li a:hover,
.theme-main-header .button-group li a.login:hover {
  background: #fff;
  border-color: #fff;
  color: rgba(0,0,0,0.8);
}
/*** 

====================================================================
  Theme Main Banner
====================================================================

 ***/
 #theme-main-banner {margin-bottom: 130px;position: relative;}
.camera_wrap {
  float:none;
}
#theme-main-banner .camera_overlayer {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: transparent;
}
#theme-main-banner.camera_wrap .camera_pag .camera_pag_ul {
  position: absolute;
  text-align: center;
  top:50%;
  left:38px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#theme-main-banner .camera_caption {
  height: 100%;
}
#theme-main-banner .camera_caption .main-container {position: relative;}

#theme-main-banner .camera_caption>div {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: none;
  left: 0;
  padding: 0;
  z-index: 9;
}
#theme-main-banner .camera_caption .container {position: relative;z-index: 99;}
#theme-main-banner .camera_caption .container h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
}
#theme-main-banner.banner-one .camera_caption .container h5 {
  color: rgba(0,0,0,0.4);
  text-transform: capitalize;
}
#theme-main-banner .camera_caption .container h1 {
  color: #fff;
  text-transform: capitalize;
  margin: 25px 0 40px 0;
}
#theme-main-banner.banner-one .camera_caption .container h1 {color: #000;}
#theme-main-banner .camera_caption .container p {
  font-size: 20px;
  margin: 0 0 55px 0;
  color: rgba(255,255,255,0.85);
}
#theme-main-banner.banner-one .camera_caption .container p {color: rgba(0,0,0,0.6);}
#theme-main-banner .camera_caption .container a {
  width: 190px;
  line-height: 56px;
  font-size: 18px;
  font-weight: 500;
  border:2px solid #fff;
  border-radius: 3px;
  text-align: center;
  margin: 10px 15px 0 0;
  color: #fff;
}
#theme-main-banner .camera_caption .container a:hover {-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);}
#theme-main-banner .camera_caption .container a i {
  font-size: 22px;
  vertical-align: -1px;
  margin-right: 10px;
}
#theme-main-banner .camera_caption .container a img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
#theme-main-banner .camera_caption .container a.button-one  {
  background: #252525;
  border-color: #252525;
}
#theme-main-banner.banner-one .camera_caption .container a.button-two {
  border-color: rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.52);
}
#theme-main-banner .camera_caption .container a.button-one:hover,
#theme-main-banner .camera_caption .container a.button-two:hover,
#theme-main-banner.gradient-banner-one .camera_caption .container a.button-one:hover,
#theme-main-banner.gradient-banner-one .camera_caption .container a.button-two:hover,
.home-page-one .partical-gradient-one #theme-main-banner .camera_caption .container a.button-one:hover,
.home-page-one .partical-gradient-one #theme-main-banner .camera_caption .container a.button-two:hover {
  background: #fff;
  border-color: #fff;
  color: #252525;
}
.home-page-one #theme-main-banner .camera_caption .container a:hover,
.home-page-one #theme-main-banner.banner-one .camera_caption .container a.button-two:hover {
  background: #fd3f38;
  border-color: #fd3f38;
  color: #fff;
}
#theme-main-banner .camera_caption .container .image-wrapper {
  position: absolute;
  width: 64%;
}
#theme-main-banner .camera_caption .container .image-wrapper img {max-width: 100% !important;}
#theme-main-banner .camera_caption .container .image-wrapper,
#theme-main-banner.banner-two .camera_caption .container .image-wrapper {
  right: -140px;
  top:-155px;
}
#theme-main-banner.banner-three .camera_caption .container .image-wrapper,
#theme-main-banner.gradient-banner-one .camera_caption .container .image-wrapper {
  right: 0;
  top:-175px;
  width: 43%;
}
#theme-main-banner.banner-three.gradient-banner-three .camera_caption .container .image-wrapper,
.partical-gradient-three #theme-main-banner.banner-three .camera_caption .container .image-wrapper {
  top:auto;
  bottom: -287px;
  right: -140px;
}
#theme-main-banner.gradient-banner-one .camera_overlayer {
  background: linear-gradient( -41deg, rgb(0,215,221) 0%, rgb(8,167,221) 100%);
}
#theme-main-banner.gradient-banner-two .camera_overlayer {
  background: linear-gradient( -34deg, rgb(244,120,72) 0%, rgb(255,54,54) 100%);
}
#theme-main-banner.gradient-banner-three .camera_overlayer {
  background: linear-gradient( 131deg, rgb(92,57,236) 0%, rgb(132,112,255) 100%);
}
.partical-gradient-one {
  background: linear-gradient( -41deg, rgb(0,215,221) 0%, rgb(8,167,221) 100%);
}
.partical-gradient-two {
  background: linear-gradient( -34deg, rgb(244,120,72) 0%, rgb(255,54,54) 100%);
}
.partical-gradient-three {
  background: linear-gradient( 131deg, rgb(92,57,236) 0%, rgb(132,112,255) 100%);
}
/*------------------- What We Do ------------------*/
.what-we-do .theme-title-one {padding-bottom: 45px;}
.what-we-do .single-block {
  text-align: center;
  padding: 35px 5px 70px 5px;
  margin-top: 60px;
}
.what-we-do .single-block img {margin: 0 auto;}
.what-we-do .single-block h6 {
  font-size: 20px;
  margin: 50px 0 25px 0;
  letter-spacing: 1.2px;
}
.what-we-do .single-block p {
  font-size: 17px;
  line-height: 30px;
}
.what-we-do .single-block a {
  width: 135px;
  line-height: 43px;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 5px;
  color: rgba(0,0,0,0.8);
  margin-top: 22px;
}
.what-we-do .single-block a:hover {color: #fff;border-color: #fff;}
.what-we-do .single-block:hover {
  background: #fff;
  -webkit-box-shadow: 0px 4px 70px 0px rgba(86, 103, 146, 0.05);
          box-shadow: 0px 4px 70px 0px rgba(86, 103, 146, 0.05);
}
.what-we-do .single-block:hover img {
  -webkit-transform:scale(0.9);
          transform:scale(0.9);
}
/*-------------------- Boost Your Phone -----------------*/
.boost-your-phone {margin: 90px 0 125px 0;}
.boost-your-phone .container {position: relative;}
.boost-your-phone .boster-image-wrapper {
  position: absolute;
  width: 62%;
  top:0;
  left:-170px;
  background: url(../images/home/bg-1.png) no-repeat center center;
  z-index: 1;
}
.boost-your-phone .boster-image-wrapper input.ao-toggle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 100;
  border: none;
  cursor: pointer;
}
.boost-your-phone .boster-image-wrapper input.ao-toggle:checked + img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.boost-your-phone .boster-image-wrapper .ao-annotations {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 5;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boost-your-phone .boster-image-wrapper .ao-annotations span {
  display: block;
  position: absolute;
  padding: 0 15px;
  line-height: 36px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  -webkit-box-shadow: 0px 4px 70px 0px rgba(86, 103, 146, 0.5);
          box-shadow: 0px 4px 70px 0px rgba(86, 103, 146, 0.5);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(1) {
  top: 5%;
  left: 32%;
}

.boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(2) {
  top: 30%;
  left: 15%;
}

.boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(3) {
  top: 37%;
  right: -19%;
}

.boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(4) {
  top: 58%;
  right: -7%;
}

.boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(5) {
  bottom: 30%;
  left: 0%;
}
.boost-your-phone .boster-image-wrapper input.ao-toggle:checked ~ .ao-annotations,
.boost-your-phone .boster-image-wrapper input.ao-toggle:checked ~ .ao-annotations span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.boost-your-phone .boster-image-wrapper>img.try {
  position: absolute;
  bottom:20px;
  left:50%;
  -webkit-transform:translateX(-50%;);
          transform:translateX(-50%;);
}
.boost-your-phone .theme-title-two {margin-bottom: 55px;}
.boost-your-phone .text {padding: 150px 0 0 0;}
.boost-your-phone .text ul li {
  font-weight: 500;
  line-height: 35px;
  color: #111111;
  padding: 0 0 20px 45px;
  position: relative;
}
.boost-your-phone .text ul li i {
  position: absolute;
  top:0;
  left:0;
  font-size: 20px;
}
/*--------------------- Advance Feature ----------------*/
.advance-feature {padding: 60px 0 200px 0;}
.advance-feature .feature-text {padding: 200px 70px 0 0;}
.advance-feature .feature-text>p {margin-top: 40px;}
.advance-feature .feature-warpper {
  position: relative;
  z-index: 9;
}
.advance-feature .feature-warpper:before {
  content: url(../images/home/bg-2.png);
  position: absolute;
  top:0;
  right: -80px;
  z-index: -1;
}
.advance-feature .feature-warpper .single-feature.m-fix {margin-top: 75px;}
.advance-feature .feature-warpper .single-feature {
  padding: 125px 10px 62px 35px;
  border-radius: 5px;
  margin-bottom: 35px;
  color: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(300px);
  transform: perspective(300px);
}
.advance-feature .feature-warpper .single-feature i {
  -webkit-transform: translateZ(50px) translateY(-50%) translateX(-50%);
  transform: translateZ(50px) translateY(-50%) translateX(-50%);
  position: absolute;
  top: 88px;
  left: 74px;
  font-size: 45px;
}
.advance-feature .feature-warpper .single-feature h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 18px 0;
  color: #fff;
}
.advance-feature .feature-warpper .single-feature p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.advance-feature .feature-warpper .single-feature.bg-one {background-image: linear-gradient( 51deg, rgb(65,174,220) 0%, rgb(6,240,243) 100%);}
.advance-feature .feature-warpper .single-feature.bg-two {background-image: linear-gradient( 51deg, rgb(241,177,23) 0%, rgb(255,216,98) 100%);}
.advance-feature .feature-warpper .single-feature.bg-three {background-image: linear-gradient( 51deg, rgb(127,95,206) 0%, rgb(179,123,236) 99%);}
.advance-feature .feature-warpper .single-feature.bg-four {background-image: linear-gradient( 51deg, rgb(49,176,100) 0%, rgb(40,243,135) 100%);}
.two-section-wrapper {
  background: url(../images/home/bg-3.png) no-repeat  center center;
}
/*---------------------- Footer -------------------*/
footer {
  background: -webkit-gradient( linear, right top, left top, from(rgb(248,252,255)), to(rgba(255,255,255,0)));
  background: linear-gradient( -90deg, rgb(248,252,255) 0%, rgba(255,255,255,0) 100%);
  padding: 120px 0 50px 0;
  position: fixed;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
footer .footer-data-wrapper {padding: 0 40px;}
footer .subscribe-form h2 {
  text-align: center;
}
footer .subscribe-form .input-wrapper {
  margin: 70px 0 85px 0;
}
footer .subscribe-form .input-wrapper input[type="text"],
footer .subscribe-form .input-wrapper input[type="email"] {
  width: 100%;
  border: 1px solid #eaf0f3;
  border-radius: 30px;
  background: #fff;
  height: 60px;
  margin-bottom: 15px;
  padding: 0 30px;
}
footer .subscribe-form .input-wrapper .theme-button {
  height: 60px;
  border-radius: 30px;
}
footer .subscribe-form .input-wrapper .theme-button input[type="submit"] {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  position: relative;
  z-index: 1;
  background: transparent;
}
footer .bottom-footer .footer-logo p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #909090;
  margin-top: 20px;
}
footer .bottom-footer ul li {display: inline-block;}
footer .bottom-footer ul.footer-menu li a {
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  margin:0 0 20px 35px;
}
footer .bottom-footer ul.social-icon li a {
  color: #d6d6d6;
  margin:5px 0 0 22px;
  font-size: 20px;
}
footer .bottom-footer ul.social-icon li a:hover {color: #212121;}
footer .bottom-footer [class*="col-"] {margin-bottom: 50px;}


/* ---- stats.js ---- */
.count-particles{
  display: none;
}
#stats,
.count-particles{
  display: none;
  -webkit-user-select: none;
}
#stats{
  overflow: hidden;
}
/* ---- particles.js container ---- */
#particles-js,
#particles-js-two,
#particles-js-three {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.partical-bg-wrapper {position: relative;z-index: 9;}
